<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 movie
        <br>Design by
        <a href="https://logdown.com/dashboard" target=_new>杨昊霖的logdown</a>
    </p>
</footer>
